.header {

  &-btn {
    background-color: #7A9CA5;
    padding: rem(16) rem(33);

    img {
      width: rem(20) !important;
      height: rem(20) !important;
      margin-right: rem(12);
    }
  }

  &__img {
    width: rem(33);
    height: rem(33);
  }

  &__icons {
    > :not(:last-child) {
      margin-right: rem(20);
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(100);

    ul {
      display: flex;

      &:first-of-type {
        color: var(--text-dark);

        li:not(:last-of-type) {
          margin-right: rem(46);
        }

        img {
          margin-right: rem(12);
        }
      }

      &:last-of-type {
        color: var(--text-light);

        > :not(:last-child) {
          margin-right: rem(32);
        }

        img {
          width: rem(19);
          height: rem(16);
        }
      }
    }

    li, a {
      display: flex;
      align-items: center;
    }
  }
}
