<section class="benefits">
  <div class="container">
    <div class="alert alert-title"><span>OUR AWESOME BENEFITS</span></div>
    <div class="title-2 benefits__title"><h2>Actually what you'll get from</h2></div>
    <div class="benefits__deck">
      <div class="benefits__card">
        <div class="benefits__card-img">
          <img src="img/benefits-mark.svg" alt="">
        </div>
        <div class="title-3 benefits__card-title">
          <h3>Optimised Energy Efficiency</h3>
        </div>
        <p>The point of using Lorem Ipsum is that using making it look like readable.</p>
      </div>
      <div class="benefits__card">
        <div class="benefits__card-img">
          <img src="img/benefits-mark.svg" alt="">
        </div>
        <div class="title-3 benefits__card-title">
          <h3>Optimised Energy Efficiency</h3>
        </div>
        <p>The point of using Lorem Ipsum is that using making it look like readable.</p>
      </div>
      <div class="benefits__card">
        <div class="benefits__card-img">
          <img src="img/benefits-mark.svg" alt="">
        </div>
        <div class="title-3 benefits__card-title">
          <h3>Optimised Energy Efficiency</h3>
        </div>
        <p>The point of using Lorem Ipsum is that using making it look like readable.</p>
      </div>
      <div class="benefits__card">
        <div class="benefits__card-img">
          <img src="img/benefits-mark.svg" alt="">
        </div>
        <div class="title-3 benefits__card-title">
          <h3>Optimised Energy Efficiency</h3>
        </div>
        <p>The point of using Lorem Ipsum is that using making it look like readable.</p>
      </div>
      <div class="benefits__card">
        <div class="benefits__card-img">
          <img src="img/benefits-mark.svg" alt="">
        </div>
        <div class="title-3 benefits__card-title">
          <h3>Optimised Energy Efficiency</h3>
        </div>
        <p>The point of using Lorem Ipsum is that using making it look like readable.</p>
      </div>
      <div class="benefits__card">
        <div class="benefits__card-img">
          <img src="img/benefits-mark.svg" alt="">
        </div>
        <div class="title-3 benefits__card-title">
          <h3>Optimised Energy Efficiency</h3>
        </div>
        <p>The point of using Lorem Ipsum is that using making it look like readable.</p>
      </div>
    </div>
  </div>
</section>
