<section class="blog">
  <div class="container">
    <div class="alert"><span>OUR BLOG</span></div>
    <div class="title-2 blog__title"><h2>Latest Updates</h2></div>
    <div class="blog__list">
      <div class="blog__block">
        <div class="blog__img"><a href="/"><img src="img/blog-photo1.jpg" alt=""></a></div>
        <div class="blog__content">
          <div class="blog__caption">
            <div class="blog__caption-lead">
              <p>11TH AUGUST 2021</p>
            </div>
            <p>BY PETER BERGSON</p>
          </div>
          <div class="title-4 blog__content-title">
            <h4>The energy efficiency of the hydrotherapy or swim</h4>
          </div>
          <p>The point of using Lorem Ipsum hiter that using making it look like others readable will get end.</p>
        </div>
      </div>
      <div class="blog__block">
        <div class="blog__img"><a href="/"><img src="img/blog-photo2.jpg" alt=""></a></div>
        <div class="blog__content">
          <div class="blog__caption">
            <div class="blog__caption-lead">
              <p>11TH AUGUST 2021</p>
            </div>
            <p>BY PETER BERGSON</p>
          </div>
          <div class="title-4 blog__content-title">
            <h4>Tips to improve your body via cleansing</h4>
          </div>
          <p>The point of using Lorem Ipsum hiter that using making it look like others readable will get end.</p>
        </div>
      </div>
      <div class="blog__block">
        <div class="blog__img"><a href="/"><img src="img/blog-photo3.jpg" alt=""></a></div>
        <div class="blog__content">
          <div class="blog__caption">
            <div class="blog__caption-lead">
              <p>11TH AUGUST 2021</p>
            </div>
            <p>BY PETER BERGSON</p>
          </div>
          <div class="title-4 blog__content-title">
            <h4>Experience the beauty at our beauty spa</h4>
          </div>
          <p>The point of using Lorem Ipsum hiter that using making it look like others readable will get end.</p>
        </div>
      </div>
    </div>
    <button class="btn btn-light blog__btn">VIEW MORE STORIES</button>
  </div>
</section>
