<section class="feedback">
  <div class="container">
    <div class="feedback__block">
      <div class="feedback__info">
        <div class="alert"><span>FLAT DISCOUNT</span></div>
        <div class="title-2 feedback__title">
          <h2>Claim upto 50% off er on the most popular services...</h2>
        </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, buying to injected humour, or randomised words.
        </p>
        <div class="discount">
          <div class="discount__info">
            <div class="discount__block">
              <div class="discount__block-topic">
                <img src="img/discount-dots.svg" alt=""><span>MAIL US:</span>
              </div>
              <div class="discount__block-contact">
                <span>info@beautyness.com</span>
              </div>
            </div>
            <div class="discount__block">
              <div class="discount__block-topic">
                <img src="img/discount-dots.svg" alt=""><span>CALL US :</span>
              </div>
              <div class="discount__block-contact">
                <span>(+22) 123 4568 009</span>
              </div>
            </div>
          </div>
          <div class="discount__number">
            <div class="discount__number-topic"><span>GET FLAT</span></div>
            <img src="img/discount-number.svg" alt="">
            <span>Discount</span>
          </div>
        </div>
      </div>
      <div class="feedback__inputs">
        <div class="feedback__inputs-block">
          <input type="text" placeholder="Name"><img src="img/user.svg" alt="">
        </div>
        <div class="feedback__inputs-block">
          <input type="text" placeholder="Email"><img src="img/mail.svg" alt="">
        </div>
        <div class="feedback__inputs-block">
          <input type="text" placeholder="Phone"><img src="img/phone.svg" alt="">
        </div>
        <div class="feedback__inputs-block">
          <input type="text" placeholder="Service You Need"><img src="img/book.svg" alt="">
        </div>
        <div class="feedback__inputs-block">
          <textarea name="Text1" cols="40" rows="5" placeholder="Any Note For Us"></textarea><img src="img/edit.svg"
                                                                                                  alt="">
        </div>
        <button class="btn">GET AN APPOINTMENT</button>
      </div>
    </div>
  </div>
</section>
