<footer class="footer">
  <div class="container">
    <div class="footer__topic">
      <a href="/" class="footer__name">
        <div class="footer__logo">
          <img src="img/logo.svg" alt="">
        </div>
        <div class="title-2 footer__name-title"><h2>Beautyness</h2></div>
      </a>
      <div class="footer__media">
        <div class="footer__media-img"><img src="img/header-facebook.svg" alt=""></div>
        <div class="footer__media-img"><img src="img/header-twitter.svg" alt=""></div>
        <div class="footer__media-img"><img src="img/header-in.svg" alt=""></div>
        <div class="footer__media-img"><img src="img/header-facebook.svg" alt=""></div>
      </div>
    </div>
    <div class="footer__info">
      <nav class="footer__nav">
        <ul class="footer__list">
          <li>
            <div class="title-4 footer__list-title"><h4>Explore</h4></div>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/">About Us</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">Appointments</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Contact Us</a></li>
        </ul>
        <ul class="footer__list">
          <li>
            <div class="title-4 footer__list-title"><h4>Utility Pages</h4></div>
          </li>
          <li><a href="/">Start here</a></li>
          <li><a href="/">Style guide</a></li>
          <li><a href="/">404 not found</a></li>
          <li><a href="/">Password protected</a></li>
          <li><a href="/">Licenses</a></li>
          <li><a href="/">Changelog</a></li>
        </ul>
        <ul class="footer__list">
          <li>
            <div class="title-4 footer__list-title"><h4>Explore</h4></div>
          </li>
          <li>
            <div class="footer__list-block">
              <span>Address:</span>
              <p>24A Kingston St, Los Vegas NC 28202, USA.</p>
            </div>
          </li>
          <li>
            <div class="footer__list-block">
              <span>Mail:</span>
              <p>support@doctors.com</p>
            </div>
          </li>
          <li>
            <div class="footer__list-block">
              <span>Phone:</span>
              <p>(+22) 123 - 4567 - 900</p>
            </div>
          </li>
        </ul>
        <ul class="footer__list">
          <li>
            <div class="title-4 footer__list-title"><h4>Working Hours</h4></div>
          </li>
          <li><span>Mon to Fri: 7am - 6pm</span></li>
          <li><span>Sat: 9am - 7pm</span></li>
          <li><span>Sun: 9am - 6pm</span></li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <span>© Copyright 2021. Drafted by Victor Themes.</span>
    </div>
  </div>
</footer>



