<header class="header">
  <div class="container container-big">
    <nav class="nav">
      <ul>
        <li><a href="/"><img class="header__img" src="img/header-feather.svg" alt="">Beautyness</a></li>
        <li><img class="header__img" src="img/header-phone.svg" alt=""><span>Call Us - (+22) 123 456 7890</span></li>
      </ul>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Pages</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Contact</a></li>
        <li><a class="header__icons" href="/"><img src="img/header-facebook.svg" alt=""><img
          src="img/header-twitter.svg"
          alt=""><img
          src="img/header-in.svg"
          alt=""></a>
        </li>
        <li>
          <button class="btn header-btn"><img src="img/header-calendar.svg" alt="">RESERVATION</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
