<section class="info">
  <div class="container info__container">
    <div class="info__text">
      <div class="alert"><p>ABOUT US</p></div>
      <div class="info__title title-2"><h2>The Beauty is about being Comfortable in your own skin!</h2></div>
      <div class="description start__description">There are many variations of passages of Lorem Ipsum available, but
        the majority have suffered alteration in some form, buying to injected humour, or randomised words which don't
        look even many desktop publishing packages.
      </div>
      <div class="info__list">
        <div class="info__list-card">
          <div class="info__list-img">
            <img src="img/info-icon1.svg" alt="">
          </div>
          <p>Beauty Experts</p>
        </div>
        <div class="info__list-card">
          <div class="info__list-img">
            <img src="img/info-icon2.svg" alt="">
          </div>
          <p>Great Services</p>
        </div>
        <div class="info__list-card">
          <div class="info__list-img">
            <img src="img/info-icon3.svg" alt="">
          </div>
          <p>100% Genuine</p>
        </div>
      </div>
    </div>
    <div class="info__img">
      <img src="img/info-woman.png" alt="">
    </div>
  </div>
</section>
