<section class="service">
  <div class="container service__container">
    <div class="alert"><span>OUR SERVICES</span></div>
    <div class="service__title title-2"><h2>We are Experienced in making you very Beautiful</h2></div>
    <div class="service__block">
      <div class="service__block-square">
        <img src="img/background.png" alt="">
      </div>
      <div class="service__img">
        <img src="img/service-img1.png" alt="">
      </div>
      <div class="service__text">
        <div class="service__list">
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
        </div>
        <button class="btn btn-light service__btn">GET AN APPOINTMENT</button>
      </div>
    </div>
    <div class="service__block">
      <div class="service__img">
        <img src="img/service-img2.png" alt="">
      </div>
      <div class="service__text">
        <div class="service__list">
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
          <div class="service__tag">
            <div class="service__label">
              <div class="service__label-title title-4"><h4>Face masks</h4></div>
              <div class="service__label-dots">..............</div>
              <span>from</span>
              <div class="service__label-price">$48.00</div>
            </div>
            <p>The versions have evolved over the sometimes by accident.</p>
          </div>
        </div>
        <button class="btn btn-light service__btn">GET AN APPOINTMENT</button>
      </div>
    </div>
  </div>
</section>
