<section class="start">
  <div class="container start__container">
    <div class="start__bg"><img src="img/background2.png" alt=""></div>
    <div class="start__main">
      <div class="start__main-bg"></div>
      <div class="start__info">
        <div class="alert start__alert">
          <img src="img/alert-icon.svg" alt="/">
          <p>WELCOME TO BEAUTYNESS!!!</p>
        </div>
        <div class="start__title title-1"><h1>Beauty is power a smile is its sword.</h1></div>
        <div class="description start__description">There are many variation of passages are Ipsum available, majority
          have suffered alteration in some form.
        </div>
        <button class="btn">MAKE A RESERVATION</button>
      </div>
      <img src="img/start-woman.png" alt="">
    </div>
  </div>
</section>
