<section class="works">
  <div class="container">
    <div class="works__wrapper">
      <div class="works__card">
        <div class="works__img">
          <img src="img/works-type1.png" alt="">
        </div>
        <div class="works__title title-3">
          <h3>Spa & Massage</h3>
        </div>
        <p class="description">If you are going to use a passage offer Lorem Ipsum, you need to be sure hidden in the
          middle of text.</p>
        <button class="btn btn-light">READ MORE</button>
      </div>
      <div class="works__card">
        <div class="works__img">
          <img src="img/works-type2.png" alt="">
        </div>
        <div class="works__title title-3">
          <h3>Spa & Massage</h3>
        </div>
        <p class="description">If you are going to use a passage offer Lorem Ipsum, you need to be sure hidden in the
          middle of text.</p>
        <button class="btn btn-light">READ MORE</button>
      </div>
      <div class="works__card">
        <div class="works__img">
          <img src="img/works-type3.png" alt="">
        </div>
        <div class="works__title title-3">
          <h3>Spa & Massage</h3>
        </div>
        <p class="description">If you are going to use a passage offer Lorem Ipsum, you need to be sure hidden in the
          middle of text.</p>
        <button class="btn btn-light">READ MORE</button>
      </div>
    </div>
  </div>
</section>
