// если вы хотите использовать sass-переменные - удалите root
// colors
:root {

  // colors
  --white: #fff;
  --text-dark: #141414;
  --text-light: #555;
  --cadetblue-light: #9BB7BF;
  --cadetblue-white: #5C8692;
  --cadetblue-border: #95BFCB;
  --cadetblue: #1E2C30;
  --cadetblue-bg: #00232d;
  --cadetblue-dark: #111E22;;
  --pastelblue: #EBF3F5;
  --black: #111;
  --hover-transition: .3s ease-in-out;
}
